body{
    font-family: 'Trebuchet MS';
    text-align: center;
}

.logo {
    position: absolute;
    top: 15px;
    left: 40px;
}

.logIn {
    position: absolute;
    right: 200px;
    top: 40px;
    color: #083D56;
    font-weight: bold;
}

.signUp {
    position: absolute;
    right: 100px;
    top: 40px;
    color: #C26632;
    font-weight: bold;
}

.provider {
    position: absolute;
    top: 0px;
    right: 10px;
    color: #C26632;
    font-weight: normal;
}

.ASAS {
    color: #c26632;
}

.discover {
    position: absolute;
    top: 310px;
    left: 550px;
    color: #083D56;
}

.continer1 {
    position: absolute;
    top: 500px;
    left: 300px;
    background-color: #083D56;
    width: 150px;
    height: 150px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
}

.box1, .box2, .box3, .box4, .box5, .box6 {
    height: 100px;
    width: 100px;
    margin-top: 10px;
}

.continer2 {
    position: absolute;
    top: 500px;
    left: 500px;
    background-color: #083D56;
    width: 150px;
    height: 150px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
}

.continer3 {
    position: absolute;
    top: 500px;
    left: 700px;
    background-color: #083D56;
    width: 150px;
    height: 150px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
}

.continer4 {
    position: absolute;
    top: 500px;
    left: 900px;
    background-color: #083D56;
    width: 150px;
    height: 150px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
}

.continer5 {
    position: absolute;
    top: 500px;
    left: 1100px;
    background-color: #083D56;
    width: 150px;
    height: 150px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
}

.continer6 {
    position: absolute;
    top: 500px;
    left: 1300px;
    background-color: #083D56;
    width: 150px;
    height: 150px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
}

.more {
    position: absolute;
    top: 730px;
    left: 740px;
    background-color: #e6c83c;
    width: 250px;
    border-radius: 5px;
    color: #083D56;
}

@media(max-width: 1700px) {
    .discover {
        position: absolute;
        left: 540px;
    }

    .mainContiner {
        position: absolute;
        left: -50px;
    }
}

@media(max-width: 1600px) {
    .discover {
        position: absolute;
        left: 450px;
    }

    .mainContiner {
        position: absolute;
        left: -100px;
    }
}

@media(max-width: 1400px) {
    .discover {
        position: absolute;
        left: 350px;
    }

    .mainContiner {
        position: absolute;
        left: -90px;
    }

    .continer2 {
        position: absolute;
        left: 460px;
    }

    .continer3 {
        position: absolute;
        left: 620px;
    }

    .continer4 {
        position: absolute;
        left: 780px;
    }

    .continer5 {
        position: absolute;
        left: 940px;
    }

    .continer6 {
        position: absolute;
        left: 1100px;
    }

    .more {
        position: absolute;
        top: 730px;
        left: 650px;
    }
}

@media(max-width: 1200px) {
    .discover {
        position: absolute;
        left: 250px;
    }

    .mainContiner {
        position: absolute;
        left: -210px;
    }

    .continer2 {
        position: absolute;
        left: 460px;
    }

    .continer3 {
        position: absolute;
        left: 620px;
    }

    .continer4 {
        position: absolute;
        left: 780px;
    }

    .continer5 {
        position: absolute;
        left: 940px;
    }

    .continer6 {
        position: absolute;
        left: 1100px;
    }
}

@media(max-width: 1060px) {
    .discover {
        position: absolute;
        left: 200px;
    }

    .mainContiner {
        position: absolute;
        left: -270px;
    }

    .continer2 {
        position: absolute;
        left: 460px;
    }

    .continer3 {
        position: absolute;
        left: 620px;
    }

    .continer4 {
        position: absolute;
        left: 780px;
    }

    .continer5 {
        position: absolute;
        left: 940px;
    }

    .continer6 {
        position: absolute;
        left: 1100px;
    }
}

@media(max-width: 1000px) {
    .discover {
        position: absolute;
        left: 180px;
    }

    .mainContiner {
        position: absolute;
        left: -240px;
    }

    .continer1 {
        width: 130px;
    }

    .continer2 {
        position: absolute;
        left: 440px;
        width: 130px;
    }

    .continer3 {
        position: absolute;
        left: 580px;
        width: 130px;
    }

    .continer4 {
        position: absolute;
        left: 720px;
        width: 130px;
    }

    .continer5 {
        position: absolute;
        left: 860px;
        width: 130px;
    }

    .continer6 {
        position: absolute;
        left: 1000px;
        width: 130px;
    }

    .more {
        position: absolute;
        left: 600px;
    }
}

@media(max-width: 920px) {
    .discover {
        position: absolute;
        left: 130px;
    }

    .mainContiner {
        position: absolute;
        left: -280px;
    }

    .continer1 {
        width: 130px;
    }

    .continer2 {
        position: absolute;
        left: 440px;
        width: 130px;
    }

    .continer3 {
        position: absolute;
        left: 580px;
        width: 130px;
    }

    .continer4 {
        position: absolute;
        left: 720px;
        width: 130px;
    }

    .continer5 {
        position: absolute;
        left: 860px;
        width: 130px;
    }

    .continer6 {
        position: absolute;
        left: 1000px;
        width: 130px;
    }

    .more {
        position: absolute;
        left: 590px;
    }
}

@media(max-width: 870px) {
    .discover {
        position: absolute;
        left: 110px;
    }

    .mainContiner {
        position: absolute;
        left: -240px;
    }

    .continer1 {
        width: 110px;
    }

    .continer2 {
        position: absolute;
        left: 420px;
        width: 110px;
    }

    .continer3 {
        position: absolute;
        left: 540px;
        width: 110px;
    }

    .continer4 {
        position: absolute;
        left: 660px;
        width: 110px;
    }

    .continer5 {
        position: absolute;
        left: 780px;
        width: 110px;
    }

    .continer6 {
        position: absolute;
        left: 900px;
        width: 110px;
    }

    .more {
        position: absolute;
        left: 540px;
    }
}

@media(max-width: 800px) {
    .discover {
        position: absolute;
        left: 80px;
    }

    .mainContiner {
        position: absolute;
        left: -270px;
    }

    .continer1 {
        width: 110px;
    }

    .continer2 {
        position: absolute;
        left: 420px;
        width: 110px;
    }

    .continer3 {
        position: absolute;
        left: 540px;
        width: 110px;
    }

    .continer4 {
        position: absolute;
        left: 660px;
        width: 110px;
    }

    .continer5 {
        position: absolute;
        left: 780px;
        width: 110px;
    }

    .continer6 {
        position: absolute;
        left: 900px;
        width: 110px;
    }

    .more {
        position: absolute;
        left: 540px;
    }
}

@media(max-width: 780px) {
    .discover {
        position: absolute;
        left: 80px;
    }

    .mainContiner {
        position: absolute;
        left: -280px;
    }

    .continer1 {
        width: 110px;
    }

    .continer2 {
        position: absolute;
        left: 420px;
        width: 110px;
    }

    .continer3 {
        position: absolute;
        left: 540px;
        width: 110px;
    }

    .continer4 {
        position: absolute;
        left: 660px;
        width: 110px;
    }

    .continer5 {
        position: absolute;
        left: 780px;
        width: 110px;
    }

    .continer6 {
        position: absolute;
        left: 900px;
        width: 110px;
    }

    .more {
        position: absolute;
        left: 540px;
    }
}

@media(max-width: 760px) {
    .discover {
        position: absolute;
        left: 60px;
    }

    .mainContiner {
        position: absolute;
        left: -285px;
    }

    .continer1 {
        width: 110px;
    }

    .continer2 {
        position: absolute;
        left: 420px;
        width: 110px;
    }

    .continer3 {
        position: absolute;
        left: 540px;
        width: 110px;
    }

    .continer4 {
        position: absolute;
        left: 660px;
        width: 110px;
    }

    .continer5 {
        position: absolute;
        left: 780px;
        width: 110px;
    }

    .continer6 {
        position: absolute;
        left: 900px;
        width: 110px;
    }

    .more {
        position: absolute;
        left: 540px;
    }
}

@media(max-width: 740px) {
    .discover {
        position: absolute;
        left: 90px;
        font-size: 20px;
    }

    .mainContiner {
        position: absolute;
        left: -250px;
        top: -20;
    }

    .continer1 {
        width: 90px;
    }

    .continer2 {
        position: absolute;
        left: 400px;
        width: 90px;
    }

    .continer3 {
        position: absolute;
        left: 500px;
        width: 90px;
    }

    .continer4 {
        position: absolute;
        left: 600px;
        width: 90px;
    }

    .continer5 {
        position: absolute;
        left: 700px;
        width: 90px;
    }

    .continer6 {
        position: absolute;
        left: 800px;
        width: 90px;
    }

    .box1, .box2, .box3, .box4, .box5, .box6 {
        width: 80px;
    }

    .more {
        position: absolute;
        left: 500px;
        width: 180;
    }
}

@media(max-width: 700px) {
    .discover {
        position: absolute;
        left: 85px;
        font-size: 20px;
    }

    .mainContiner {
        position: absolute;
        left: -260px;
        top: -20px;
    }

    .continer1 {
        width: 90px;
    }

    .continer2 {
        position: absolute;
        left: 400px;
        width: 90px;
    }

    .continer3 {
        position: absolute;
        left: 500px;
        width: 90px;
    }

    .continer4 {
        position: absolute;
        left: 600px;
        width: 90px;
    }

    .continer5 {
        position: absolute;
        left: 700px;
        width: 90px;
    }

    .continer6 {
        position: absolute;
        left: 800px;
        width: 90px;
    }

    .box1, .box2, .box3, .box4, .box5, .box6 {
        width: 80px;
    }

    .more {
        position: absolute;
        left: 500px;
        width: 180;
    }
}

@media(max-width: 650px) {
    .discover {
        position: absolute;
        left: 50px;
        font-size: 20px;
    }

    .mainContiner {
        position: absolute;
        left: -280px;
        top: -20px;
    }

    .continer1 {
        width: 90px;
    }

    .continer2 {
        position: absolute;
        left: 400px;
        width: 90px;
    }

    .continer3 {
        position: absolute;
        left: 500px;
        width: 90px;
    }

    .continer4 {
        position: absolute;
        left: 600px;
        width: 90px;
    }

    .continer5 {
        position: absolute;
        left: 700px;
        width: 90px;
    }

    .continer6 {
        position: absolute;
        left: 800px;
        width: 90px;
    }

    .box1, .box2, .box3, .box4, .box5, .box6 {
        width: 80px;
    }

    .more {
        position: absolute;
        left: 500px;
        width: 180;
    }
}

@media(max-width: 630px) {
    .discover {
        position: absolute;
        left: 55px;
        font-size: 17px;
    }

    .mainContiner {
        position: absolute;
        left: -250px;
        top: -20px;
    }

    .continer1 {
        width: 70px;
        height: 130px;
        font-size: 11px;
    }

    .continer2 {
        position: absolute;
        left: 380px;
        width: 70px;
        height: 130px;
        font-size: 11px;
    }

    .continer3 {
        position: absolute;
        left: 460px;
        width: 70px;
        height: 130px;
        font-size: 11px;
    }

    .continer4 {
        position: absolute;
        left: 540px;
        width: 70px;
        height: 130px;
        font-size: 11px;
    }

    .continer5 {
        position: absolute;
        left: 620px;
        width: 70px;
        height: 130px;
        font-size: 11px;
    }

    .continer6 {
        position: absolute;
        left: 700px;
        width: 70px;
        height: 130px;
        font-size: 11px;
    }

    .box1, .box2, .box3, .box4, .box5, .box6 {
        width: 70px;
        height: 80px;
    }

    .more {
        position: absolute;
        left: 480px;
        width: 130;
        height: 50px;
        font-size: 14;
        top: 710px;
    }
}

@media(max-width: 540px) {
    .discover {
        position: absolute;
        left: 20px;
        font-size: 17px;
    }

    .mainContiner {
        position: absolute;
        left: -270px;
        top: -20px;
    }

    .continer1 {
        width: 70px;
        height: 130px;
        font-size: 11px;
    }

    .continer2 {
        position: absolute;
        left: 380px;
        width: 70px;
        height: 130px;
        font-size: 11px;
    }

    .continer3 {
        position: absolute;
        left: 460px;
        width: 70px;
        height: 130px;
        font-size: 11px;
    }

    .continer4 {
        position: absolute;
        left: 540px;
        width: 70px;
        height: 130px;
        font-size: 11px;
    }

    .continer5 {
        position: absolute;
        left: 620px;
        width: 70px;
        height: 130px;
        font-size: 11px;
    }

    .continer6 {
        position: absolute;
        left: 700px;
        width: 70px;
        height: 130px;
        font-size: 11px;
    }

    .box1, .box2, .box3, .box4, .box5, .box6 {
        width: 70px;
        height: 80px;
    }

    .more {
        position: absolute;
        left: 480px;
        width: 130;
        height: 50px;
        font-size: 14;
        top: 710px;
    }

    .logo {
        position: absolute;
        top: 15px;
        left: 40px;
    }
    
    .logIn {
        font-size: 16;
    }
    
    .signUp {
        font-size: 16;
    }

    .provider {
        font-size: 16;
    }
}

@media(max-width: 480px) {
    .discover {
        position: absolute;
        left: 20px;
        font-size: 17px;
    }

    .mainContiner {
        position: absolute;
        left: -250px;
        top: -20px;
    }

    .continer1 {
        width: 70px;
        height: 130px;
        font-size: 11px;
    }

    .continer2 {
        position: absolute;
        left: 380px;
        width: 70px;
        height: 130px;
        font-size: 11px;
    }

    .continer3 {
        position: absolute;
        left: 460px;
        width: 70px;
        height: 130px;
        font-size: 11px;
    }

    .continer4 {
        position: absolute;
        left: 540px;
        width: 70px;
        height: 130px;
        font-size: 11px;
    }

    .continer5 {
        position: absolute;
        left: 620px;
        width: 70px;
        height: 130px;
        font-size: 11px;
    }

    .continer6 {
        position: absolute;
        left: 700px;
        width: 70px;
        height: 130px;
        font-size: 11px;
    }

    .box1, .box2, .box3, .box4, .box5, .box6 {
        width: 70px;
        height: 80px;
    }

    .more {
        position: absolute;
        left: 400px;
        width: 130;
        height: 50px;
        font-size: 14;
        top: 710px;
    }

    .logo {
        position: absolute;
        top: 15px;
        left: 20px;
    }

    .provider {
        font-size: 16;
    }

    .logIn {
        position: absolute;
        right: 100px;
    }
    
    .signUp {
        position: absolute;
        right: 500px;
        top: 40px;
    }
}
