body {
    background-color: #fff;
}

.logo {
    position: absolute;
    right: 100px;
}

.main-menu a {
    text-decoration: none;
}

.menu1, .menu2, .menu3, .menu4, .menu5 {
    font-weight: bold;
    color: rgb(22, 69, 130);
}

.menu1:hover, .menu2:hover, .menu3:hover, .menu4:hover, .menu5:hover {
    color: rgb(42, 134, 255);
}
.menu1 {
    position: absolute;
    right: 600px;
    top: 50px;
}

.menu2 {
    position: absolute;
    right: 800px;
    top: 50px;
}

.menu3 {
    position: absolute;
    right: 1000px;
    top: 50px;
}

.menu4 {
    position: absolute;
    right: 1200px;
    top: 50px;
}

.menu5 {
    position: absolute;
    right: 1450px;
    top: 50px;
}

.login {
    background-color: rgb(254, 205, 8);
    width: 100px;
    border-radius: 5px;
    position: absolute;
    right: 1750px;
    top: 50px;
    height: 50px;
}

.menu6 {
    color: rgb(0, 0, 0);
    margin-top: 20px;
    margin-left: 12px;
}

.block1 {
    position: absolute;
    top: 400px;
}

.activites {
    color: rgb(239, 103, 36);
    position: absolute;
    left: 350px;
    width: 600px;
    font-size: 50px;
}

.p1 {
    position: absolute;
    left: 330px;
    top: 100px;
    color: rgb(22, 69, 130);
    opacity: 0.7;
    width: 550px;
    text-align: right;
}

.button1 {
    background-color: rgb(11, 34, 65);
    color: #fff;
    position: absolute;
    top: 270px;
    left: 350px;
    width: 150px;
    border-radius: 20px;
}

.button1:hover {
    opacity: 0.8;
}

.p2 {
    margin-left: 25px;
    margin-top: 25px;
}

.img2 {
    position: absolute;
    left: 1030px;
    top: 40px;
    height: 300px;
    width: 550px;
}

.block2 {
    position: absolute;
    top: 1200px;
}

.one-place {
    color: rgb(239, 103, 36);
    position: absolute;
    left: 1030px;
    width: 600px;
    font-size: 50px;
}

.p3 {
    position: absolute;
    left: 1000px;
    top: 200px;
    color: rgb(22, 69, 130);
    opacity: 0.7;
    width: 550px;
    text-align: right;
}

.button2 {
    background-color: rgb(11, 34, 65);
    color: #fff;
    position: absolute;
    top: 370px;
    left: 1030px;
    width: 150px;
    border-radius: 20px;
}

.button2:hover {
    opacity: 0.8;
}

.p4 {
    margin-left: 40px;
    margin-top: 25px;
}

.img3 {
    position: absolute;
    left: 310px;
    top: 40px;
    height: 400px;
}

.block3 {
    position: absolute;
    top: 2000px;
}

.importance {
    color: rgb(239, 103, 36);
    position: absolute;
    left: 700px;
    width: 600px;
    font-size: 50px;
}

.img4, .img5, .img6  {
    height: 200px;
    width: 350px;
    border-radius: 5px;
}

.section {
    margin-top: 250px;
}

.box1 {
    position: absolute;
    left: 300px;
    border: 1px solid rgb(0, 195, 255);
    text-align: center;
    height: 290px;
    border-radius: 5px;
}

.box2 {
    position: absolute;
    left: 750px;
    border: 1px solid rgb(0, 195, 255);
    text-align: center;
    height: 290px;
    border-radius: 5px;
}

.box3 {
    position: absolute;
    left: 1200px;
    border: 1px solid rgb(0, 195, 255);
    text-align: center;
    height: 290px;
    border-radius: 5px;
}

.box1:hover, .box2:hover, .box3:hover {
    opacity: 0.7;
}

.block4 {
    position: absolute;
    top: 2900px;
}

.basis {
    color: rgb(239, 103, 36);
    position: absolute;
    left: 260px;
    width: 500px;
    font-size: 50px;
    text-align: right;
}

.p8 {
    position: absolute;
    left: 310px;
    top: 200px;
    color: rgb(22, 69, 130);
    opacity: 0.7;
    width: 450px;
    text-align: right;
}

.p9 {
    position: absolute;
    left: 370px;
    top: 320px;
    color: rgb(0, 0, 0);
    opacity: 0.7;
    width: 450px;
    text-align: left;
    font-weight: bold;
}

.fa-check {
    color: rgb(0, 195, 255);
}

.check1 .fa-check {
    position: absolute;
    top: 340px;
    left: 330px;
}

.p10 {
    position: absolute;
    left: 370px;
    top: 355px;
    color: rgb(0, 0, 0);
    opacity: 0.7;
    width: 450px;
    text-align: left;
    font-weight: bold;
}

.check2 .fa-check {
    position: absolute;
    top: 378px;
    left: 330px;
}

.p11 {
    position: absolute;
    left: 370px;
    top: 390px;
    color: rgb(0, 0, 0);
    opacity: 0.7;
    width: 450px;
    text-align: left;
    font-weight: bold;
}

.check3 .fa-check {
    position: absolute;
    top: 413px;
    left: 330px;
}

.fa-heart {
    color: rgb(239, 103, 36);
    margin-top: 20px;
}

.box5 {
    text-align: center;
    width: 250px;
    height: 250px;
    border: 1px solid rgb(0, 195, 255);
    border-radius: 5px;
    margin-left: 1000px;
    margin-top: 50px;
}

.p12 {
    font-weight: bold;
    color: rgb(0, 0, 0);
    opacity: 0.7;
}

.p13 {
    font-weight: normal;
    color: rgb(0, 0, 0);
    opacity: 0.7;
}

.fa-smile-o {
    color: rgb(239, 103, 36);
    margin-top: 40px;
}

.box6 {
    text-align: center;
    width: 250px;
    height: 250px;
    border: 1px solid rgb(0, 195, 255);
    border-radius: 5px;
    margin-left: 1300px;
    margin-top: -250px;
}

.p14 {
    font-weight: bold;
    color: rgb(0, 0, 0);
    opacity: 0.7;
}

.p15 {
    font-weight: normal;
    color: rgb(0, 0, 0);
    opacity: 0.7;
}

.box7 {
    text-align: center;
    width: 250px;
    height: 250px;
    border: 1px solid rgb(0, 195, 255);
    border-radius: 5px;
    margin-left: 1000px;
    margin-top: 50px;
}

.fa-music {
    color: rgb(239, 103, 36);
    margin-top: 50px;
}

.p16 {
    font-weight: bold;
    color: rgb(0, 0, 0);
    opacity: 0.7;
}

.p17 {
    font-weight: normal;
    color: rgb(0, 0, 0);
    opacity: 0.7;
}

.box8 {
    text-align: center;
    width: 250px;
    height: 250px;
    border: 1px solid rgb(0, 195, 255);
    border-radius: 5px;
    margin-left: 1300px;
    margin-top: -250px;
}

.fa-compass {
    color: rgb(239, 103, 36);
    margin-top: 50px;
}

.p18 {
    font-weight: bold;
    color: rgb(0, 0, 0);
    opacity: 0.7;
}

.p19 {
    font-weight: normal;
    color: rgb(0, 0, 0);
    opacity: 0.7;
}

.block5 {
    width: 100%;
    background-color: rgb(73, 90, 88);
    height: 250px;
    position: absolute;
    top: 3800px;
    left: 0px;
    text-align: center;
}

.p20 {
    color: #fff;
    font-size: 50px;
    margin-top: 100px;
}

.footer {
    background-color: #fff;
    height: 300px;
    width: 100%;
    position: absolute;
    top: 4100px;
    left: 0px;
}

.p21 {
    position: absolute;
    top: 260px;
    left: 750px;
}

@media(max-width: 1400px) {
    .logo {
        right: 20px;
        top: 20px;
    }

    .menu1 {
        right: 450px;
    }

    .menu2 {
        right: 600px;
    }

    .menu3 {
        right: 750px;
    }

    .menu4 {
        right: 900px;
    }

    .logo {
        right: 1140px;
    }
}
